#searchbar__container {
	display: flex;
	align-items: center;
	/* border-radius: 111111px; */
	border: 0.5px solid #eeeeee;
	display: flex;
	justify-content: space-around;
	flex: 1;
	padding: 10px;
	padding-right: 15px;
	> button {
		/* background-color: transparent; */
		color: #767676;
	}
	> button:hover {
		color: black;
	}
	/* background-color: violet; */
	/* border: 1px solid red; */
}
#searchbar__container > img {
	position: relative;
	cursor: pointer;
}

#searchbar__container:hover {
	border: 0.5px solid #767676;
}

#searchbar {
	width: 80%;
	/* background-color: #eeeeee; */
	background-color: transparent;
	padding: 0.1rem;
	font-size: 10px;
	padding-right: 5px;
	flex: 0.98;
	border: none;
}
#searchbar:focus {
	outline: none;
	background-color: transparent;
}
#searchbar::-webkit-search-cancel-button {
	display: none;
}
#searchbar::placeholder {
	color: #767676;
	font-size: 0.8rem;
	position: relative;
}
